.summary__notifyPerson-items {
    display: flex;
    flex-wrap: wrap;
}

.summary__notifyPerson-item {
    margin-right: 15px;
}

.summary__notifyPerson-txt {
    color: white;
    font-size: 16px;
}

.card__notify {
    border-top: 1px solid rgba(160,160,160,0.2);
}

.notify__divider {
    border-bottom: 1px solid rgba(160,160,160,0.2);
}

.notify__divider-vert {
    border-right: 1px solid rgba(160,160,160,0.2);
}

.notify__title {
    margin: 0 auto;
    font-size: 20px;
    padding: 16px 0;
}

.notify__head {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    justify-content: flex-end;
}

.notify__body {
    display: flex;
    justify-content: space-between;
}

.notify__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notify__ops {
    flex-grow: 1;
    /*align-items: flex-end;*/
}

.notify__labels {
    display: flex;
    flex-direction: column;
    padding: 16px 24px 0;
}

.notify__label {
    margin-top: 5px;
}

.card-action-notify {
    padding: 0 24px !important;
}